* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    position: relative;
    background: #fff;
    font-size: 14px;
    line-height: 1.7;
    color: #555555;
    font-weight: 400;
    padding-top: 0;
}
div {
    display: block;
}
ul, li {
    margin: 0;
}
nav {
    width: auto;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
}
nav ul {
    display: flex;
    float: left;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
nav a {
    color: #000;
    text-decoration: none;
    padding: 2.5vw 1.6vw 2.2vw;

}
h1 {
    font-weight: normal;
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
video {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.main-header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: 6.3vw;
    flex-shrink: 0;
    transition-property: transform;
    transition-duration: 0.3s;
}
.headermenu-container {
    padding: 0 3vw;
    margin: 0;
    position: relative;
}
.headermenu-sub {
    display: block;
    padding-top: 6.3vw;
}
.headersub-container {
    padding: 0 3.5vw;
}

@media screen and (min-width: 1025px){
    .header-sub {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        padding-top: 83px;
        z-index: 5;
        transition-property: transform, visibility, opacity;
        transition-duration: 0.1s;
        transition-timing-function: ease-out;
        border-bottom: solid 1px #dddddd;
        opacity: 0;
        visibility: hidden;
        transform: scale(0.9);
        display: none;
    }
    .siteheader:hover {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}

.logo {
    position: absolute;
    left: 0;
    top: 50%;
    line-height: 0;
    transform: translateY(-50%);
    z-index: 10;
}
.Logo-link {
    display: block;
    width: 9vw;
    height: 1.5vw;
    background-image: url(../images/logo-black.png);
    background-size: 9vw 1.5vw;
}
.siteheader {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 6.3vw;
    text-align: center;
}
.navbar {
    text-align: center;
}
.navbar-inside {
    display: inline-block;
}


@media screen and (min-width: 1025px){
    .main-header .mainmenu-sub {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
}
.webpage {
    display: flex;
    flex-direction: column;
    height: 100vw;
}
.value-container {
	height: 100vh;
    padding: 0 4.1vw;
    margin: 0 auto;
    position: relative;
    min-height: 43.7vw;
}
.valuebox {
	position: absolute;
    left: 4.12vw;
    right: 4.12vw;
    top: 50%;
    transform: translateY(-50%);
    height: 30.7vw;
    overflow: hidden;
}
.valuebox-bg {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    isolation: isolate;
    opacity: 0;
    animation-duration: 2.37s;
    animation-name: valueboxbg;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.92,.03,.39,.67);
}
.valueboxbgsecond {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.valueboxbgsecond-item {
	position: absolute;
    clip: rect(0, auto, auto, 0);
    overflow: hidden;
}
.valueboxbgsecond-item:nth-child(1) {
	width: 100%;
    height: 45%;
    top: 2%;
    left: 0.6%;
}
.valueboxbgsecond-item:nth-child(2) {
	width: 100%;
    height: 50%;
    bottom: 2%;
    right: 0.6%;
}
.valuebox-bg video {
	position: absolute;
    bottom: -9%;
    left: 0;
    width: 100%;
    height: 294%;
    object-fit: cover;
    transition-property: transform;
    transition-duration: 0s;
    will-change: transform;
}
.valueboxbg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-image: url(../images/valueimg.png);
    mix-blend-mode: normal;
    background-size: 100% 100%;
}
.valuebox-text {
	position: absolute;
    top: 2.3%;
    left: 0.6%;
    width: 98.8%;
    height: 95%;
    z-index: 10;
}
.valueboxtext-item:nth-child(1) {
    left: 0;
    top: 0;
}
.valueboxtext-item:nth-child(2){
    right: 0;
    top: 0;
}
.valueboxtext-item:nth-child(3) {
    right: 0%;
    top: 27%;
}
.valueboxtext-item:nth-child(4){
    left: 0;
    bottom: 25.3%;
}
.valueboxtext-item:nth-child(5){
    right: 48%;
    bottom: -1.8%;
}
.valueboxtext-item:nth-child(6){
    right: 19%;
    bottom: -1.8%;
}
.valueboxtext-item:nth-child(7) {
    right: 0;
    bottom: -3%;
    max-width: 20%;
}
.valueboxtext-item:nth-child(1) .valueboxtext-img {
    width: 25.6645vw;
    height: 5.73749vw;
    animation-delay: 0.2s;
}
.valueboxtext-item:nth-child(2) .valueboxtext-img {
    width: 12.306vw;
    height: 5.73749vw;
    animation-delay: 0.4s;
}
.valueboxtext-item:nth-child(3) .valueboxtext-img {
    width: 31.0208vw;
    height: 5.73749vw;
    animation-delay: 0.6s;
}
.valueboxtext-item:nth-child(4) .valueboxtext-img {
    width: 30.2229vw;
    animation-delay: 0.8s;
}
.valueboxtext-item:nth-child(5) .valueboxtext-img {
    width: 12.306vw;
    animation-delay: 1s;
}
.valueboxtext-item:nth-child(6) .valueboxtext-img {
    width: 23.406vw;
    animation-delay: 1.2s;
}
.valueboxtext-item {
    display: block;
    position: absolute;
    overflow: hidden;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
.valueboxtext-item > .valueboxtext-img {
    fill: #fff;
}
.delay-0 {
    animation-duration: 1.6s;
}
.delay-1 {
    animation-duration: 0.4s;
}
.delay-2 {
    animation-delay: 0.6s;
    animation-duration: 1.6s
}
.delay-3 {
    animation-delay: 0.8s;
    animation-duration: 1.6s;
}
.delay-4 {
    animation-delay: 1s;
}
.delay-5 {
    animation-delay: 1.1s;
    animation-duration: 1.3s;
}
.valueboxtextClip {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
    line-height: 0;
    width: 0%;
    overflow: hidden;
    animation-name: Fill;
    animation-duration: 1.4s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.19,.05,.85,.21);
}
.subtext {
    font-size: 0.7vw;
    line-height: 1.82em;
    text-align: left;
    color: #555555;
}
@keyframes Fill {
    0% {
        width: 0%;
    }
    30% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes valueboxbg {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}