* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    display: block;
    position: relative;
    background: #fff;
    font-size: 14px;
    line-height: 1.7;
    color: #555555;
    font-weight: 400;
    padding-top: 0;
}
div {
    display: block;
}
ul,ol, li {
    margin: 0;
    padding: 0;
}
nav {
    width: auto;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
}
ul {
    display: block;
    float: left;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
nav a {
    color: #000;
    text-decoration: none;
    padding: 2.5vw 1.6vw 2.2vw;
}
h1 {
    display: block;
    font-weight: normal;
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a {
    text-decoration: none;
}
video {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.site {
	display: flex;
	-ms-display: flex;
	flex-direction: column;
	-ms-flex-direction: column;
	height: 100vh;
}

.site{
	overflow:hidden;
	height:auto;
}

@media screen and  (min-width: 783px) {
  .admin-bar .site-header{
	top:32px;
  }
}
@media screen and (max-width: 782px) {
  .admin-bar .site-header{
	top:46px;
  }
}

.site-content {
	flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	padding-top:220px;
	overflow:hidden;
}

@media screen and (max-width: 1300px) and (min-width: 1025px) {
	.site-content {
		padding-top:16.923vw;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.site-content {
		padding-top:16.923vw;
	}
}

@media screen and (max-width: 767px) and (min-width: 1px) {
	.site-content {
		padding-top:28.923vw;
	}
}

.header-container{
  margin:0 auto;
  position: relative;
  padding: 0 3.4769vw;
  z-index:10;
}

.header-container:after{
  content: "";
  display: table;
  clear: both;
}

.site-container{
	max-width: 1280px;
	margin:0 auto;
	position: relative;
	padding:0 40px;
	overflow:hidden;
}

.site-container:after{
	content: "";
	display: table;
	clear: both;
}

.footer-container{
  max-width: 1280px;
  margin:0 auto;
  position: relative;
  padding:0 40px;
}

.footer-container:after{
  content: "";
  display: table;
  clear: both;
}

.site-footer{
	flex-shrink: 0;
}

@media screen and (max-width: 1300px) and (min-width: 1025px) {
	.header-container{
		padding:0 3.4769vw;
	}
	.site-container{
		max-width: 98.461vw;
		padding:0 3.4769vw;
	}
	.footer-container{
		max-width: 98.461vw;
		padding:0 3.4769vw;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.header-container{
		max-width: 100%;
		padding:0 2.607vw;
	}
	.site-container{
		max-width: 100%;
		padding:0 2.607vw;
	}
	.footer-container{
		max-width: 100%;
		padding:0 2.607vw;
	}
}

@media screen and (max-width: 767px) and (min-width: 1px) {
	.header-container{
		max-width: 100%;
		padding:0 4.25vw;
	}
	.site-container{
		max-width: 100%;
		padding:0 6.25vw;
	}
	.footer-container{
		max-width: 100%;
		padding:0 6.25vw;
	}
}
/* site-header 
========================================================= */
.site-header{
	position:fixed;
	z-index:1000;
	top:0;
	left:0;
	right:0;
	height:83px;
	flex-shrink: 0;
	transition-property:transform;
	transition-duration: 0.3s;
}

.site-header:before{
	content:"";
	height:1px;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	background-color:#DDDDDD;
	z-index:10;
	transition-property:opacity;
	transition-duration: 0.1s;
	transition-delay:0s;
	transition-timing-function:ease-out;
	opacity:0;
}

.site-header.is-View:before{
	transition-delay:0.14s;
}

.site-header.is-Up{
	background-color:rgba(255,255,255,0.5);
	transform:translateY(-100%);
}

.admin-bar .site-header.is-Up{
	transform:translateY(-150%);
}

.site-header.is-Down{
	background-color:rgba(255,255,255,0.5);
	transform:translateY(0%);
}

@media screen and (min-width: 1025px) {
	.site-header:hover:before{
		opacity:1;
	}
}


.SiteHeader{
	position:relative;
}

.SiteHeaderBar{
	position:absolute;
	bottom:0;
	height:0px;
	transition-property:width, left, height;
	transition-duration: 0.2s;
	z-index:5;
	overflow:hidden;
}

.SiteHeaderBar-bg{
	position:absolute;
	top:0;
	left:-2px;
	width:100%;
	height:100%;
	background-color:transparent;
	transform: skewX(45deg);
	transition-property:background-color;
	transition-duration: 0.2s;
}

.is-View .SiteHeaderBar{
	height:5px;
}

.is-View.site-header .SiteHeaderBar-bg{
	background-color:#000;
}

.Bg-black .is-View.site-header .SiteHeaderBar-bg{
	background-color:#fff;
}

@media screen and (max-width: 1300px) and (min-width: 1025px) {
	.is-View .SiteHeaderBar{
		height:0.3846vw;
	}
}

@media screen and (max-width: 1024px) and (min-width: 1px) {
	.SiteHeaderBar{
		display:none;
	}
}

@media screen and (max-width: 1300px) and (min-width: 1025px) {
	.site-header{
		height:6.384vw;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.site-header{
		height:8.844vw;
	}
	
	.SiteHeaderMenu1Depth .main-navigation{
		padding:0;
	}

	.SiteHeader{
		padding:3.384vw 0 3.2307vw;
	}
}

@media screen and (max-width: 767px) and (min-width: 1px) {
	.site-header{
		height:17.384vw;
	}

	.SiteHeaderMenu1Depth .main-navigation{
		padding:0;
	}
	
	.SiteHeader{
		padding:6.384vw 0 6.2307vw;
	}
}
.Bg-black .Logo-link{
    background-image: url(../img/logo/logo-white.png);
}

.Bg-black .headermenu-nav .menu-item > a{
   color:#fff;
}

.Bg-black .SiteHeaderLinkLang-item.is-Current .SiteHeaderLinkLang-link{
   color:#fff;
}

.Bg-black .SiteHeaderMapButton-text{
   color:#fff;
}

.Bg-black .SiteHeaderMapButton-icon:before{
   background-color:#fff;
}

.Bg-black .SiteHeaderMapButton-icon:after{
   background-color:#fff;
}

.Bg-black .SiteHeaderLinkLang-link:after{
   background-color:#fff;
}

.Bg-black .site-header.is-Down{
   background-color: rgba(0,0,0,0.5);
}

.Bg-black .site-header.is-Up{
   background-color: rgba(0,0,0,0.5);
}

@media screen and (max-width: 1024px) and (min-width: 1px){
   .Bg-black .SiteHeaderMenuSubDepthBg-item{
       background-color:#000;
   }
   
   .Bg-black .headermenu-sub .sub-main-menu > .menu-item > a{
       color:#fff;
   }
   
   .Bg-black .headermenu-nav .sub-menu .menu-item > a{
       color:#fff;
   }
}

@media screen and (min-width: 1025px) {
   .Bg-black .headermenu-sub{
       background-color:#000;
       border-color: #393939;
   }

   .Bg-black .SiteHeaderLinkLang-link:hover{
       color:#fff;
   }

   .Bg-black .headermenu-sub .sub-menu > .menu-item > a{
       color:#fff;
   }

   .Bg-black .headermenu-sub .sub-menu .menu-item > a:hover{
       color:#fff;
   }
   
   .Bg-black .headermenu-sub .sub-menu .menu-item > a{
       background-image: linear-gradient(#fff,#fff);
   }

   .Bg-black .site-header:before{
       background-color:#393939;
   }
   
   .Bg-black .headermenu-sub .sub-main-menu > .menu-item{
       border-color: #393939;
   }
}

.site-header.is-Up{
	background-color:rgba(255,255,255,0.5);
	transform:translateY(-100%);
}

.admin-bar .site-header.is-Up{
	transform:translateY(-150%);
}

.site-header.is-Down{
	background-color:rgba(255,255,255,0.5);
	transform:translateY(0%);
}
.Logo{
	line-height:0;
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
	z-index:10;
}

.Logo-link{
	display:block;
	width: 9.2vw;
	height:20px;
    background-repeat:no-repeat ;
	background-image:url(../images/logo-black.png);
	background-size:120px 20px;
}
.ab-text {
    overflow: hidden;
    display: block;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
}

@media screen and (max-width: 1300px) and (min-width: 1025px) {
	.Logo-link{
		width:9.2vw;
		height:1.5vw;
		background-size:9.2vw 1.5vw;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.Logo{
		position:static;
		transform:translateY(0%);
	}
	.Logo-link{
		width:13vw;
		height:2.2vw;
		background-size:13vw 2.2vw;
	}
}

@media screen and (max-width: 767px) and (min-width: 1px) {
	.Logo{
		position:static;
		transform:translateY(0%);
	}
	
	.Logo-link{
		width:28.639vw;
		height:4.773vw;
		background-size:28.639vw 4.773vw;
	}
}

.SiteHeaderMenu1Depth{
	text-align:center;
	font-size:0;
	line-height:0;
}

.SiteHeaderMenu1Depth .main-navigation{
	display:inline-block;
}

.SiteHeaderMenu1Depth .main-menu:atter{
	content:"";
	display:table;
	clear:both;
}

.SiteHeaderMenu1Depth .menu-item{
	float:left;
}

.SiteHeaderMenu1Depth .menu-item > a{
	font-size:18px;
	line-height:1.3em;
	color:#000000;
	font-weight:500;
	font-family:'Poppins', sans-serif;
	display:block;
	padding:31px 30px 29px;
}

body .Mobile-view{
	display:none;
}

@media screen and (max-width: 1440px) and (min-width: 1301px) {
	.SiteHeaderMenu1Depth .menu-item > a{
		padding:31px 25px 29px;
	}
}

@media screen and (max-width: 1300px) and (min-width: 1025px) {
	.SiteHeaderMenu1Depth .menu-item > a{
		font-size:1.384vw;
		padding:2.384vw 1.607vw 2.2307vw;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.SiteHeaderMenu1Depth{
		display:none;
	}
	
	body .Mobile-view{
		display:block;
	}
}

@media screen and (max-width: 767px) and (min-width: 1px) {
	.SiteHeaderMenu1Depth{
		display:none;
	}
	
	body .Mobile-view{
		display:block;
	}
}
@media screen and (min-width: 1025px) {
	.SiteHeaderMenuSubDepth{
		position:absolute;
		top:0;
		left:0;
		right:0;
		background-color:#fff;
		padding-top:83px;
		z-index:5;
		transition-property:transform, visibility, opacity;
		transition-duration: 0.1s;
		transition-timing-function:ease-out;
		border-bottom:solid 1px #dddddd;
		opacity:0;
		visibility: hidden;
		transform:scale(0.9);
		display:none;
	}
	
	body.is-Play .SiteHeaderMenuSubDepth{
		display:block;
	}

	.site-header:hover .SiteHeaderMenuSubDepth{
		opacity:1;
		visibility: visible;
		transform:scale(1);
	}

	.site-header.is-Up .SiteHeaderMenuSubDepth{
		opacity:0;
		visibility: hidden;
		transition-duration: 0s;
		transform:scale(1.1);
	}

	.SiteHeaderMenuSubDepth .main-navigation{
		max-width:1200px;
		margin:0 auto;
	}

	.SiteHeaderMenuSubDepth .sub-main-menu{
		display:table;
		table-layout:fixed;
		width:100%;
	}

	.SiteHeaderMenuSubDepth .sub-main-menu > .menu-item{
		display:table-cell;
		vertical-align: top;
		border-right:solid 1px #DDDDDD;
		padding:29px 21px 45px;
	}

	.SiteHeaderMenuSubDepth .sub-main-menu > .menu-item:first-child{
		border-left:solid 1px #DDDDDD;
	}
	
	.SiteHeaderMenuSubDepth .sub-menu{
		display:block !important;
	}

	.SiteHeaderMenuSubDepth .sub-menu .sub-menu{
		display:none !important;
	}


	.site-header:hover .SiteHeaderMenuSubDepth .sub-main-menu > .menu-item{
		opacity:1;
	}

	.SiteHeaderMenuSubDepth .sub-menu .menu-item:first-child{
		padding-top:0;
	}

	.SiteHeaderMenuSubDepth .sub-main-menu > .menu-item > a{
		font-size:16px;
		line-height:1.3em;
		color:#000;
		font-weight:500;
		font-family:'Poppins', sans-serif;
		display:block;
		margin-bottom:12px;
		transition-timing-function:ease-out;
	}
	
	.SiteHeaderMenuSubDepth .sub-menu .menu-item{
		padding:7px 0 5px;
		font-size:0;
		line-height:0;
	}

	.SiteHeaderMenuSubDepth .sub-menu .menu-item > a{
		font-size:14px;
		line-height:1.3em;
		color:#777;
		position:relative;
		padding-bottom:2px;
		background-image:linear-gradient(#000,#000);
		background-position:left bottom;
		background-size:0% 2px;
		background-repeat:no-repeat;
		transition-property:background-size;
		transition-duration: 0.3s;
	}

	.SiteHeaderMenuSubDepth .sub-menu .menu-item > a:hover{
		background-size:100% 2px;
		color:#000;
	}
	
	.SiteHeaderMenuSubDepth .sub-menu .menu-item.Mobile-view + .menu-item{
		padding-top:0;
	}
}

@media screen and (max-width: 1300px) and (min-width: 1025px) {
	.SiteHeaderMenuSubDepth{
		padding-top:6.384vw;
	}

	.SiteHeaderMenuSubDepth .main-navigation{
		max-width:92.307vw;
	}

	.SiteHeaderMenuSubDepth .sub-main-menu > .menu-item{
		padding:2.2307vw 1.615vw 3.461538vw;
	}

	.SiteHeaderMenuSubDepth .sub-main-menu > .menu-item > a{
		font-size:1.2307vw;
		margin-bottom:1.2307vw;
	}
	
	.SiteHeaderMenuSubDepth .sub-menu .menu-item{
		padding:0.538vw 0 0.384vw;
	}

	.SiteHeaderMenuSubDepth .sub-menu .menu-item > a{
		font-size:1.0769vw;
		padding-bottom:0.1538vw;
	}
}

/* site-content
======================================================== */
.site {
    display: flex;
    flex-direction: column;
    height: 100vw;
    overflow: hidden;
    height: auto;
}
.site-content {
    display: inline-block;
    margin-top: 0;
    padding-top: 0;
    flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    overflow: hidden;
}
.value-container {
	height: 100vh;
    padding: 0 4.1vw;
    margin: 0 auto;
    position: relative;
    min-height: 43.7vw;
}
.valuebox {
	position: absolute;
    left: 4.12vw;
    right: 4.12vw;
    top: 50%;
    transform: translateY(-50%);
    height: 30.7vw;
    overflow: hidden;
}
.valuebox-bg {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    isolation: isolate;
    opacity: 0;
    animation-duration: 2.37s;
    animation-name: valueboxbg;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.92,.03,.39,.67);
}
.valueboxbgsecond {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.valueboxbgsecond-item {
	position: absolute;
    clip: rect(0, auto, auto, 0);
    overflow: hidden;
}
.valueboxbgsecond-item:nth-child(1) {
	width: 100%;
    height: 45%;
    top: 2%;
    left: 0.6%;
}
.valueboxbgsecond-item:nth-child(2) {
	width: 100%;
    height: 50%;
    bottom: 2%;
    right: 0.6%;
}
.valuebox-bg video {
	position: absolute;
    bottom: -9%;
    left: 0;
    width: 100%;
    height: 294%;
    object-fit: cover;
    transition-property: transform;
    transition-duration: 0s;
    will-change: transform;
}
.valueboxbg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-image: url(../images/valueimg.png);
    mix-blend-mode: normal;
    background-size: 100% 100%;
}
.valuebox-text {
	position: absolute;
    top: 2.3%;
    left: 0.6%;
    width: 98.8%;
    height: 95%;
    z-index: 10;
}
.valueboxtext-item:nth-child(1) {
    left: 0;
    top: 0;
}
.valueboxtext-item:nth-child(2){
    right: 0;
    top: 0;
}
.valueboxtext-item:nth-child(3) {
    right: 0%;
    top: 27%;
}
.valueboxtext-item:nth-child(4){
    left: 0;
    bottom: 25.3%;
}
.valueboxtext-item:nth-child(5){
    right: 48%;
    bottom: -1.8%;
}
.valueboxtext-item:nth-child(6){
    right: 19%;
    bottom: -1.8%;
}
.valueboxtext-item:nth-child(7) {
    right: 0;
    bottom: -3%;
    max-width: 20%;
}
.valueboxtext-item:nth-child(1) .valueboxtext-img {
    width: 25.6645vw;
    height: 5.73749vw;
    animation-delay: 0.2s;
}
.valueboxtext-item:nth-child(2) .valueboxtext-img {
    width: 12.306vw;
    height: 5.73749vw;
    animation-delay: 0.4s;
}
.valueboxtext-item:nth-child(3) .valueboxtext-img {
    width: 31.0208vw;
    height: 5.73749vw;
    animation-delay: 0.6s;
}
.valueboxtext-item:nth-child(4) .valueboxtext-img {
    width: 30.2229vw;
    animation-delay: 0.8s;
}
.valueboxtext-item:nth-child(5) .valueboxtext-img {
    width: 12.306vw;
    animation-delay: 1s;
}
.valueboxtext-item:nth-child(6) .valueboxtext-img {
    width: 23.406vw;
    animation-delay: 1.2s;
}
.valueboxtext-item {
    display: block;
    position: absolute;
    overflow: hidden;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
.valueboxtext-item > .valueboxtext-img {
    fill: #fff;
}
.delay-0 {
    animation-duration: 1.6s;
}
.delay-1 {
    animation-duration: 0.4s;
}
.delay-2 {
    animation-delay: 0.6s;
    animation-duration: 1.6s
}
.delay-3 {
    animation-delay: 0.8s;
    animation-duration: 1.6s;
}
.delay-4 {
    animation-delay: 1s;
}
.delay-5 {
    animation-delay: 1.1s;
    animation-duration: 1.3s;
}
.valueboxtextClip {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
    line-height: 0;
    width: 0%;
    overflow: hidden;
    animation-name: Fill;
    animation-duration: 1.4s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.19,.05,.85,.21);
}
.subtext {
    font-size: 0.7vw;
    line-height: 1.82em;
    text-align: left;
    color: #555555;
}
@keyframes Fill {
    0% {
        width: 0%;
    }
    30% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes valueboxbg {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.MainNews{
	margin-bottom:88px;
	padding-top:46px;
	overflow:hidden;
}

@media screen and (max-width: 1300px) and (min-width: 1025px) {
	.MainNews{
		margin-bottom:6.7692vw;
		padding-top:3.5384vw;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.MainNews{
		margin-bottom:10.7692vw;
		padding-top:5.5384vw;
	}
}

@media screen and (max-width: 767px) and (min-width: 1px) {
	.MainNews{
		margin-bottom:15.7692vw;
		padding-top:10.5384vw;
	}
}

/*	MainNews:Header
=========================================================*/
.MainNewsHeader{
	margin-bottom:38px;
}

.MainInteractionTitle{
	font-size:0;
	line-height:0;
	position:relative;
}

.MainInteractionTitle-text{
	font-size:36px;
	line-height:1.2em;
	color:#000;
	font-weight:600;
	font-family:'Poppins', "Noto Sans";
	position:relative;
	transform:translateY(101%);
	display:inline-block;
	transition-property: transform;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;
}

.is-Opacity .MainInteractionTitle-text{
	transform:translateY(0%);
}

/*Responsive*/
@media screen and (max-width: 1300px) and (min-width: 1025px) {
	.MainNewsHeader{
		margin-bottom:2.923vw;
	}

	.MainInteractionTitle-text{
		font-size:2.7692vw;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.MainNewsHeader{
		margin-bottom:2.923vw;
	}

	.MainInteractionTitle-text{
		font-size:4.5692vw;
	}
}

@media screen and (max-width: 767px) and (min-width: 1px) {
	.MainNewsHeader{
		margin-bottom:4.223vw;
	}

	.MainInteractionTitle-text{
		font-size:8.7692vw;
	}
}


/*	MainNews:Post
=========================================================*/
.MainNewsSlide{
	margin:0 -14px;
}

.MainNewsSlide-container{
	overflow:visible;
}

.MainNewsSlide-item{
	padding:0 14px;
	width:33.333%;
}

.DefaultPost{
	width:100%;
}

.DefaultPost-link{
	display:block;
}

.DefaultPostThumnail{
	font-size:0;
	line-height:0;
	position:relative;
	overflow:hidden;
	margin-bottom:32px;
	background-color:#000;
}

.DefaultPostThumnail:after{
	content:"";
	display:block;
	padding-bottom:63.8%;
}

.DefaultPostThumnail-inner{
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	transition-property: transform;
    transition-duration: 0.4s;
	transition-timing-function: ease-out;
	transform:scale(1);
}

.DefaultPostThumnail-img{
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	transition-property: transform;
    transition-duration: 0.6s;
	transition-timing-function: ease-out;
	transform:translateY(100%);
}

.is-Opacity .DefaultPostThumnail-img{
	transform:translateY(0%);
}

.DefaultPostCont-title{
	margin-bottom:18px;
	font-size:24px;
	line-height:1.3em;
	max-height: calc(2.6em + 2px); 
	text-align: left; 
	word-wrap: break-word; 
	display: -webkit-box; 
	overflow:hidden;
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical;
	padding-bottom:2px;
}

.DefaultPostCont-text{
	font-size:24px;
	line-height:1.3em;
	color:#000;
	font-weight:500;
	background-image: linear-gradient(#000,#000);
    background-position: left bottom;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition-property: background-size;
    transition-duration: 0.3s;
}

.DefaultPostCont-date{
	font-size:14px;
	line-height:1.2em;
	color:#999999;
	font-family:'Poppins', "Noto Sans";
}

.MainNewsSlide-item:nth-child(1) .DefaultPostThumnail-img{
	transition-delay:0s;
}

.MainNewsSlide-item:nth-child(2) .DefaultPostThumnail-img{
	transition-delay:0.2s;
}

.MainNewsSlide-item:nth-child(3) .DefaultPostThumnail-img{
	transition-delay:0.4s;
}

@media screen and  (min-width: 1025px) {
	.DefaultPost-link:hover .DefaultPostCont-text{
		 background-size: 100% 2px;
	}
	
	.DefaultPost-link:hover .DefaultPostThumnail-inner{
		transform:scale(1.1);
	}
}

@media screen and (max-width: 1300px) and (min-width: 1025px) {
	.MainNewsSlide{
		margin:0 -1.0769vw;
	}

	.MainNewsSlide-item{
		padding:0 1.0769vw;
	}

	.DefaultPostThumnail{
		margin-bottom:2.4615vw;
	}

	.DefaultPostCont-title{
		margin-bottom:1.3846vw;
		font-size:1.8461vw;
	}

	.DefaultPostCont-text{
		font-size:1.8461vw;
	}

	.DefaultPostCont-date{
		font-size:1.0769vw;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.MainNewsSlide{
		margin:0 -1.0769vw;
	}

	.MainNewsSlide-item{
		padding:0 1.0769vw;
	}

	.DefaultPostThumnail{
		margin-bottom:2.4615vw;
	}

	.DefaultPostCont-title{
		margin-bottom:1.3846vw;
		font-size:2.0461vw;
	}

	.DefaultPostCont-text{
		font-size:2.0461vw;
	}

	.DefaultPostCont-date{
		font-size:1.4769vw;
	}
}

@media screen and (max-width: 767px) and (min-width: 1px) {
	.MainNewsSlide{
		margin:0 -8.3269vw;
		padding:0 6.25vw;
	}

	.MainNewsSlide-item{
		padding:0 2.0769vw;
		width:70%;
	}

	.DefaultPostThumnail{
		margin-bottom:4.4615vw;
	}

	.DefaultPostCont-title{
		margin-bottom:3.846vw;
		font-size:4.0461vw;
	}

	.DefaultPostCont-text{
		font-size:4.0461vw;
	}

	.DefaultPostCont-date{
		font-size:3.0769vw;
	}
}

.NewIcon{
	overflow:hidden;
	display:inline-block;
	width:18px;
	height:18px;
	background-image:url('/wp-content/themes/krafton/assets/img/icon/ico-new.png');
	background-size:18px 18px;
	text-indent:100%;
	vertical-align: 2px;
}
.NewsPostList-item{
	border-bottom:1px solid #ddd;
}

.NewsPostResult{
	padding-bottom:30px;
}

.NewsPostResult-text{
	display:block;
	font-size:20px;
	line-height:1.5em;
	color:#000;
}

.NewsPostResult-keyword{
	font-weight:bold;
}

.NewsPostResult-count{
	font-weight:bold;
}

@media screen and (max-width:1300px)  and (min-width:1025px){
	.NewsPostResult{
		padding-bottom:2.3076vw;
	}

	.NewsPostResult-text{
		font-size:1.5384vw;
	}
}

@media screen and (max-width:1024px)  and (min-width:768px){
	.NewsPostResult{
		padding-top:1.4vw;
		padding-bottom:3.3076vw;
	}

	.NewsPostResult-text{
		font-size:2.0384vw;
	}
}

@media screen and (max-width:767px)  and (min-width:1px){
	.NewsPostResult{
		padding-top:4vw;
		padding-bottom:0vw;
	}

	.NewsPostResult-text{
		font-size:4.75vw;
	}
}


/*NewsListItem
=========================================================*/
.NewsListItem-link{
	display:block;
	padding:40px 0;
}
.NewsListItem-link:after{
	content:'';
	display:block;
	clear:both;
}
.NewsListItem-content{
	overflow:hidden;
	display:block;
	position:relative;
	line-height:0;
}
.NewsListItem-img{
	overflow:hidden;
	width:488px;
	margin-left:65px;
	float:right;
	position:relative;
	background-color:#000;
}
.NewsListItem-img:after{
	content:'';
	display:block;
	padding-bottom: 60.66%;
	position:relative;
}
.NewsListItem-img img{
	display:block;
	width:calc(100% + 1px);
	max-width:none;
	position:absolute;
	top:0;
	left:0;
	transform: translateY(100%);
	transition-property: transform;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;
}
.NewsPostList-item.is-Opacity .NewsListItem-img img{
    transform: scale(1) translateY(0px);
}

.NewsListItem .category{
	display:inline-block;
	margin-bottom:9px;
	padding:3px 14px;
	color:	#fff;
	font-size:14px;
	font-family: 'Poppins', sans-serif;
	line-height:normal;
	background-color:#000;
}
.NewsListItem .title{
	overflow:hidden;
	display:block;
	max-height:3em; 
	color:#000;
	font-size:28px;
	font-weight:bold;
	line-height:1.5em;
	text-overflow: ellipsis;
	word-break: keep-all; 
	display: -webkit-box;
	-webkit-box-orient:vertical;
	 -webkit-line-clamp: 2;
}

.NewsListItem .date {
	display:block;
	margin-top:13px;
	color:#979899;
	font-size:14px;
	font-family: 'Lato', sans-serif;
	font-weight:bold;
	line-height:1.2em;
}
.NewsListItem-text{
	overflow:hidden;
	display:block;
	margin-top:16px;
	max-height:5.7em;
	color:#222;
	font-size:15px;
	line-height:1.9em;
	text-overflow: ellipsis;
	word-break: keep-all; 
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient:vertical;
}
.NewsListItem .more{
	display:block;
	margin-top:38px;
	width:40px;
	height:14px;
	background-image:url('/wp-content/themes/krafton/assets/img/icon/ico-post-arrow-b.png');
	background-size:40px 14px;
	transform: translateX(-20px);
    transition-property: transform, opacity;
    transition-duration: 0.6s;
    transition-delay: 0.4s;
    transition-timing-function: ease-out;
    opacity: 0;
}
.NewsPostList-item.is-Opacity .NewsListItem  .more {
    transform: translateX(0px);
    opacity: 1;
}
@media screen and (min-width:1025px){
	.NewsPostList-item.is-Opacity .NewsListItem-link:hover .NewsListItem-img img{
		transform: scale(1.06) translateY(0px);
	}
}
@media screen and (max-width:1300px)  and (min-width:1025px){
	.NewIcon{
		width:1.384vw;
		height:1.384vw;
		background-size:1.384vw 1.384vw;
		vertical-align: 0.253vw;
	}
	.NewsListItem-link{
		padding:3.076vw 0;
	}
	.NewsListItem-img{
		width:35.92vw;
		margin-left:5vw;
	}
	.NewsListItem .title{
		font-size:2.153vw;
	}
	.NewsListItem .category{
		margin-bottom:0.692vw;
		padding:0.230vw 1.076vw;
		font-size:1.076vw;
	}
	.NewsListItem .date {
		margin-top:1vw;
		font-size:1.076vw;
	}
	.NewsListItem-text{
		margin-top:1.230vw;
		font-size:1.153vw;
	}
	.NewsListItem .more{
		margin-top:3vw;
		width:3.076vw;
		height:1.076vw;
		background-size:3.076vw 1.076vw;
	}
}

@media screen and (max-width:1024px)  and (min-width:768px){
	.NewIcon{
		width: 1.95vw;
		height: 1.95vw;
		background-size: 1.95vw 1.95vw;
		vertical-align: 0.35vw;
	}
	.NewsListItem-link{
		padding:3.906vw 0;
	}
	.NewsListItem-img{
		width:44vw;
		margin-left:4.347vw;
	}
	.NewsListItem .title{
		font-size:3.153vw;
	}
	.NewsListItem .category{
		margin-bottom:0.878vw;
		padding:0.292vw 1.367vw;
		font-size:1.467vw;
	}
	.NewsListItem .date {
		margin-top:1.35vw;
		font-size:1.476vw;
	}
	.NewsListItem-text{
		margin-top:1.269vw;
		font-size:1.6vw;
	}
	.NewsListItem-content  .BasicText{
		margin-top:1.56vw;
	}
	.NewsListItem .more{
		margin-top:3.808vw;
		width:3.906vw;
		height:1.367vw;
		background-size:3.906vw 1.367vw;
	}
}
@media screen and (max-width:767px)  and (min-width:1px){
	.NewIcon{
		width: 4.346vw;
		height: 4.346vw;
		background-size: 4.346vw 4.346vw;
		vertical-align: 0;
	}
	.NewsPostList{
		margin-top:13vw;
	}
	.NewsPostList-item{
		margin-left:-6.25vw;
		margin-right:-6.25vw;
		border-bottom:none;
	}
	.NewsPostList-item:last-child .NewsListItem-link{
		padding-bottom:0;
	}
	.NewsListItem-link{
		padding-top:0;
		padding-bottom:16.0769vw;

	}
	.NewsListItem-content{
		padding:0 6.25vw;
	}
	.NewsPostList-item:first-child .NewsListItem-link{
		padding-top:0;
	}
	.NewsListItem-img{
		width:100%;
		margin-left:0;
		margin-bottom:6vw;
		float:none;
	}
	.NewsListItem-content .category{
		margin-bottom:2.53vw;
		padding:0.391vw 2.825vw;
		font-size:3.825vw;
	}
	.NewsListItem .title{
		max-height:3.2em; 
		font-size:4.95vw;
		line-height:1.6em;
	}
	.NewsListItem .date {
		margin-top:2.6vw;
		font-size:3.5vw;
	}
	.NewsListItem-text{
		margin-top:2.086vw;
		max-height:5.7em;
		font-size:3.75vw;
	}
	.NewsListItem .more{
		margin-top:6.1538vw;
		width:9.0769vw;
		height:2.5769vw;
		background-size:9.0769vw 2.5769vw;
	}
}